global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend mysql-cluster
    bind *:3306
    default_backend galera-cluster

backend galera-cluster
    balance roundrobin
    server mariadb1 mariadb1:3306 check
    server mariadb2 mariadb2:3306 check
    server mariadb3 mariadb3:3306 check
    # server mariadb4 mariadb4:3306 check
    # server mariadb5 mariadb5:3306 check
